# Global owner
*	@lmbhushanpuri @lmmahi8may @rohitphataklm @lmshubhashri @sagar-mamdapure

# argus directory owners
charts/argus/   @rohitphataklm @lmshubhashri @sagar-mamdapure @lmmahi8may @lmbhushanpuri

# collectorSet-controller directory owners
charts/collectorset-controller/   @rohitphataklm @lmshubhashri @sagar-mamdapure @lmmahi8may @lmbhushanpuri

# lm-container directory owners
charts/lm-container/    @rohitphataklm @lmshubhashri @sagar-mamdapure @lmmahi8may @lmbhushanpuri

# lmutil directory owners
charts/lmutil/    @lmvaibhavk  @rohitphataklm @lmshubhashri @sagar-mamdapure @guru13-lm

# lmotel directory owners
charts/lmotel/ @lmvaibhavk @avadhut123pisal @khyatigandhi6 @lmshubhashri

# lm-logs directory owners
charts/lm-logs  @lmvaibhavk @guru13-lm @choudharypooja @lmshubhashri
