# Global owner
*	@lmvaibhavk @vkumbhar94 @lmbhushanpuri @kedarjapan

# argus directory owners
charts/argus/   @vkumbhar94 @rohitphataklm @lmshubhashri @sagar-mamdapure @lmbhushanpuri @guru13-lm @kedarjapan

# collectorSet-controller directory owners
charts/collectorset-controller/   @vkumbhar94  @rohitphataklm @lmshubhashri @sagar-mamdapure @lmbhushanpuri @guru13-lm @kedarjapan

# lm-container directory owners
charts/lm-container/    @vkumbhar94 @rohitphataklm @lmshubhashri @sagar-mamdapure @lmbhushanpuri @guru13-lm @kedarjapan

# releasemanager directory owners
# charts/releasemanager/ 

# lmutil directory owners
charts/lmutil/    @vkumbhar94 @rohitphataklm @lmshubhashri @sagar-mamdapure @lmbhushanpuri @guru13-lm @kedarjapan

# lmotel directory owners
charts/lmotel/ @avadhut123pisal @khyatigandhi6

# lm-logs directory owners
charts/lm-logs  @siddharthck @guru13-lm
