apiVersion: v1
kind: Secret
metadata:
  name: {{ include "lmutil.fullname" . }}
  namespace: {{ template "lmutil.release.namespace" . }}
  labels:
    {{- include "collectorset-controller.labels" . | nindent 4}}
  annotations:
    ## keep value false as string, spinnaker's limitation, otherwise spinnaker fails to cast boolean to string
    strategy.spinnaker.io/versioned: "false"
    {{- include "collectorset-controller.annotations" . | nindent 4}}
type: Opaque
data:
  accessID: {{ if .Values.accessID }} {{ .Values.accessID | b64enc }} {{ else }} {{ required "A valid .Values.accessID or .Values.global.accessID entry is required!" .Values.global.accessID | b64enc }} {{ end }}
  accessKey: {{ if .Values.accessKey }} {{ .Values.accessKey | b64enc }} {{ else }} {{ required "A valid .Values.accessKey or .Values.global.accessKey entry is required!" .Values.global.accessKey | b64enc }} {{ end }}
  account: {{ if .Values.account }} {{ .Values.account | b64enc }} {{ else }} {{ required "A valid .Values.account or .Values.global.account entry is required!" .Values.global.account | b64enc }} {{ end }}
  etcdDiscoveryToken: {{ default "" .Values.etcdDiscoveryToken | b64enc | quote }}
  {{- if .Values.proxy.user }}
  proxyUser: {{ default "" .Values.proxy.user | b64enc }}
  {{- else if .Values.global.proxy.user }}
  proxyUser: {{ default "" .Values.global.proxy.user | b64enc }}
  {{- end }}
  {{- if .Values.proxy.pass }}
  proxyPass: {{ default "" .Values.proxy.pass | b64enc }}
  {{- else if .Values.global.proxy.pass }}
  proxyPass: {{ default "" .Values.global.proxy.pass | b64enc }}
  {{- end }}
