image:
  repository: logicmonitor/lm-logs-k8s-fluentd
  pullPolicy: Always
  tag: "1.4.0"

lm_access_id: ""
lm_access_key: ""
lm_company_name: ""
lm_bearer_token: ""
lm_company_domain: ""

authMode: "lmv1"  # or "lmv1/bearer"

global:
  userDefinedSecret: ""  # Uncomment and set to use a custom secret for credentials
  # The referenced secret must contain the following keys (all base64 encoded):
  #   accessID
  #   accessKey
  #   bearerToken
  #   account
  accessID: ""
  accessKey: ""
  account: ""
  clusterName: ""
  companyDomain: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

labels: {}
annotations: {}

env: {}

resources:
  limits:
    memory: 1000Mi
  requests:
    cpu: 300m
    memory: 700Mi
fluent:
  device_less_logs: false
  include_metadata: true
  resource_type: ""
  buffer:
    memory:
      flush_interval: 1s
      chunk_limit_size: 8m
      flush_thread_count: 8

systemd:
  tag: ""
  conf: ""

useSystemdConf: false

securityContext: null

priorityClassName: null

kubernetes:
  multiline_start_regexp: /^\[(\d{4}-)?\d{2}-\d{2} \d{2}:\d{2}:\d{2}.\d{3}.*\]/
  cluster_name: ""
  multiline_concat_key: log

nodeSelector: {}
affinity: {}
tolerations: []


volumes:
  - name: varlog
    hostPath:
      path: /var/log
  - name: varlibdockercontainers
    hostPath:
      path: /var/lib/docker/containers
  - name: journal
    hostPath:
      path: /var/log/journal


volumeMounts:
  - name: fluentconf
    mountPath: /fluentd/etc
  - name: varlog
    mountPath: /var/log
  - name: varlibdockercontainers
    mountPath: /var/lib/docker/containers
    readOnly: true
  - name: journal
    mountPath: /var/log/journal
    readOnly: true