# Default values for lm-container.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  userDefinedSecret: ""
  image:
    registry: ""
    pullPolicy: ""
  collectorsetServiceNameSuffix: "lm-container-collectorset-controller"

argus:
  enabled: true
collectorset-controller:
  enabled: true
lm-logs:
  enabled: false
lmotel:
  enabled: false

# Kube state metrics configuration
# For further customizing KSM configuration, pls refer https://artifacthub.io/packages/helm/prometheus-community/kube-state-metrics/?modal=values
kube-state-metrics:
  # Set enabled to false in case you want to use a custom configured KSM
  enabled: true
  # No. of KSM Replicas to be configured
  selfMonitor:
    enabled: true
    telemetryPort: 8081
  replicas: 1
  collectors:
    - daemonsets
    - replicasets
    - statefulsets
    - persistentvolumes
    - persistentvolumeclaims
    - endpoints
    - cronjobs
    - jobs
    - pods
    - nodes
    - deployments
    - services
    - poddisruptionbudgets
